* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul,
ol {
    list-style: none;
}

a {
    font-family: inherit;
    font-weight: inherit;
    font-size: inherit;
    text-decoration: none;
    font-style: inherit;
    color: black;
}


body {
    font-family: Roboto Slab;
}

header, footer{
    padding: 40px 0 0 40px;
}

section{
    padding: 0 40px 40px 40px;
    /* margin-bottom: 0px; */
}

h2{
font-size: 26px;
font-weight: 700;
line-height: 36px;
letter-spacing: 0em;
text-align: left;
margin-bottom: 30px;
}