@media (min-width: 865px) {

    header,
    footer {
        padding: 40px 0 0 60px;
    }

    section {
        padding: 0 60px 60px 60px;
        margin-bottom: 20px;
    }

    h2 {
        font-family: Roboto Slab;
        font-size: 32px;
        font-weight: 700;
        line-height: 32px;
        letter-spacing: 0em;
        text-align: left;
    }

    /* =============HEADER========== */

    header img {
        width: 64.87px;
        height: 38.23px;
        top: 22px;
        left: 70.08px;

    }

    /* =========== MAIN ============== */

    .timing {
        display: flex;
        align-items: center;
        gap: 30px;
        margin-bottom: 10px;
    }

    .timing li img {
        width: 12.74px;
        height: 12.16px;
        top: 116.4px;
        left: 70.08px;
        margin-right: 6px;
    }

    .timing li {
        font-family: Roboto;
        font-size: 12px;
        font-weight: 400;
        line-height: 14px;
        letter-spacing: 0em;
        text-align: left;
    }

    h1 {
        font-family: Roboto Slab;
        font-size: 46px;
        font-weight: 700;
        line-height: 47px;
        letter-spacing: 0em;
        text-align: left;

        margin-bottom: 30px;
    }

    .mini-info {
        display: flex;
        justify-content: space-between;
        font-family: Roboto;
        font-size: 12px;
        font-weight: 400;
        line-height: 18px;
        letter-spacing: 0em;
        text-align: left;
        margin-bottom: 30px;
    }

    .mini-info-content p {
        width: 264px;
        height: 36px;
        top: 257px;
        left: 71px;
    }

    .mini-info-img {
        display: flex;
        justify-content: end;
    }

    .mini-info img {
        width: 176.07px;
        height: 206.18px;
        top: 138.99px;
        left: 515.46px;
    }

    .quote {
        background-color: #1E4681;
        color: white;
        width: 280.11px;
        top: 395.92px;
        left: 237.1px;
        border-radius: 2.9px;
        padding: 15px;
        margin: auto;
    }

    .quote p {
        font-family: Roboto Slab;
        font-size: 14px;
        font-weight: 400;
        line-height: 18px;
        letter-spacing: 0em;
        text-align: left;
    }

    .quote span {
        font-family: Roboto;
        font-size: 12px;
        font-weight: 400;
        line-height: 16px;
        letter-spacing: 0em;
        text-align: right;
        margin-top: 10px;
    }

    .about-course {
        display: flex;
        justify-content: space-between;
        margin-bottom: 70px;
    }

    .info {
        width: 383.41px;
        height: 216.61px;
        top: 676.46px;
        left: 70.08px;
    }

    .info p {
        font-family: Roboto;
        font-size: 14px;
        font-weight: 400;
        line-height: 21px;
        letter-spacing: 0em;
        text-align: left;
        margin-bottom: 20px;
    }

    .cameraman1 {
        display: flex;
        justify-content: center;
        margin-bottom: 40px;
    }

    .cameraman1 img {
        width: 170.55px;
        height: 160.29px;
        top: 918px;
        left: 101px;
    }

    .timing-course {
        display: flex;
        align-items: center;
        gap: 70px;
    }

    .timing-course img {
        display: block;
        width: 134.37px;
        height: 117.57px;
        top: 947.51px;
        left: 70.08px;

    }

    .duration {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
    }

    .duration li h3 {
        font-family: Roboto;
        font-size: 15px;
        font-weight: 700;
        line-height: 19px;
        letter-spacing: 0em;
        text-align: left;
        margin-bottom: 8px;

    }

    .duration li p {
        font-family: Roboto;
        font-size: 11px;
        font-weight: 400;
        line-height: 14px;
        letter-spacing: 0em;
        text-align: left;
        margin-bottom: 10px;
        width: 92px;
    }

    .format {
        display: flex;
        flex-direction: row;
        gap: 30px;
    }

    .format li h5 {
        font-family: Roboto;
        font-size: 15px;
        font-weight: 700;
        line-height: 19px;
        letter-spacing: 0em;
        text-align: left;
        color: #1E4681;
        margin-bottom: 5px;
    }

    .format li p {
        font-family: Roboto;
        font-size: 11px;
        font-weight: 400;
        line-height: 14px;
        letter-spacing: 0em;
        text-align: left;
        width: 200px;
    }

    .what-learn {
        font-family: Roboto;
        font-size: 14px;
        font-weight: 400;
        line-height: 21px;
        letter-spacing: 0em;
        text-align: left;
        list-style-type: disc;
        padding: 20px;
    }

    .programms {
        display: grid;
        grid-template-columns: auto auto auto;
        flex-direction: row;
        gap: 30px;
    }

    .programms li {
        width: 231.09px;
        top: 1998.7px;
        left: 48.65px;
        border-radius: 20px;
        box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
        overflow: hidden;
        margin: auto;
    }

    .programms li img {
        width: 100%;
        height: 92.67px;
        top: 2048px;
        left: 95px;
    }

    .programms li h4 {
        font-family: Roboto;
        font-size: 17px;
        font-weight: 700;
        line-height: 22px;
        letter-spacing: 0em;
        text-align: left;
        margin-bottom: 10px;
    }

    .program-content {
        padding: 15px;
    }

    .programms li p {
        font-family: Roboto;
        font-size: 14px;
        font-weight: 400;
        line-height: 18px;
        letter-spacing: 0em;
        text-align: left;
        display: flex;
        flex-direction: column;
        gap: 3px;
    }

    .bg-grey {
        background-color: #EFEFEF;
        margin-bottom: 0;
        padding: 70px;
    }

    .quote2 {
        width: 600px;
        background-color: white;
        padding: 30px;
        border-radius: 20px;
        box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
    }

    .quote2 p {
        font-family: Roboto;
        font-size: 12px;
        font-weight: 400;
        line-height: 18px;
        letter-spacing: 0em;
        text-align: left;

    }

    .quote2 .user {
        display: flex;
        align-items: center;
    }

    .user p {
        font-family: Roboto Slab;
        font-size: 17px;
        font-weight: 700;
        line-height: 17px;
        letter-spacing: 0em;
        text-align: left;
        margin-bottom: 10px;
    }

    .ava {
        width: 88px;
        height: 80px;
        top: 3760px;
        left: 56px;
        margin-right: 10px;
    }


    .fb {
        width: 20.53px;
        height: 19.95px;
        top: 3001.13px;
        left: 215.45px;
    }

    .bg-mint {
        background-color: #9DC9C8;
        padding: 90px 35px;
        margin-bottom: 0;
    }

    .price {
        font-family: Roboto;
        font-size: 14px;
        font-weight: 400;
        line-height: 14px;
        letter-spacing: 0em;
        text-align: left;
        margin-bottom: 30px;
    }

    .price span {
        font-family: Roboto;
        font-size: 46px;
        font-weight: 400;
        line-height: 47px;
        letter-spacing: 0em;
        text-align: left;
        display: block;
        margin-top: 5px;
    }

    .price-content {
        display: flex;
        gap: 40px;
    }

    .price-content div {
        width: 250px;
    }

    .price-content div h6 {
        font-family: Roboto;
        font-size: 14px;
        font-weight: 400;
        line-height: 14px;
        letter-spacing: 0em;
        text-align: left;
        margin-bottom: 10px;
    }

    .price-content div p {
        font-family: Roboto;
        font-size: 10px;
        font-weight: 400;
        line-height: 10px;
        letter-spacing: 0em;
        text-align: left;

    }

    /* ========== FOOTER ===========*/

    footer {
        background-color: black;
        color: white;
        padding: 40px 35px 20px;
    }

    .footer-div {
        display: flex;
        justify-content: space-between;
    }

    .logo-white {
        width: 66.6px;
        height: 39.38px;
        top: 3603.46px;
        left: 70.66px;
        margin-bottom: 5px;
    }

    .social-icons {
        display: flex;
        gap: 8px;
        margin-bottom: 30px;
    }

    .social-icons li img {
        width: 19.38px;
        height: 19.38px;
        top: 4341.96px;
        left: 37.85px;
    }

    .contact {
        margin-bottom: 40px;
    }

    .contact li {
        display: flex;
        align-items: center;
        gap: 10px;
        margin-bottom: 11px;
    }

    .contact li img {
        width: 16.58px;
        height: 16.58px;
        top: 4405px;
        left: 38px;
    }

    .contact li p {
        font-family: Roboto;
        font-size: 14px;
        font-weight: 400;
        line-height: 12px;
        letter-spacing: 0em;
        text-align: left;
    }

    .sinx {
        font-family: Roboto;
        font-size: 10px;
        font-weight: 400;
        line-height: 10px;
        letter-spacing: 0em;
        text-align: left;

    }
}


@media (min-width: 1280px) {

    header,
    footer {
        padding: 50px 0 0 70px;
    }

    section {
        padding: 0 70px 70px;
        margin-bottom: 20px;
    }

    h2 {
        font-family: Roboto Slab;
        font-size: 55px;
        font-weight: 700;
        line-height: 56px;
        letter-spacing: 0em;
        text-align: left;
        margin-bottom: 60px;
    }

    /* =============HEADER========== */

    header img {
        width: 112px;
        height: 66px;
        top: 21px;
        left: 121px;
        margin-bottom: 40px;
    }

    /* =========== MAIN ============== */

    .timing {
        display: flex;
        align-items: center;
        gap: 30px;
        margin-bottom: 10px;
    }

    .timing li img {
        width: 22.74px;
        height: 21.16px;
        top: 116.4px;
        left: 70.08px;
        margin-right: 10px;
    }

    .timing li {
        font-family: Roboto;
        font-size: 20px;
        font-weight: 400;
        line-height: 23px;
        letter-spacing: 0em;
        text-align: left;
    }

    h1 {
        font-family: Roboto Slab;
        font-size: 80px;
        font-weight: 700;
        line-height: 81px;
        letter-spacing: 0em;
        text-align: left;
        margin-bottom: 40px;
    }

    .mini-info {
        display: flex;
        /* gap: 80px; */
        justify-content: space-between;
        margin-bottom: 30px;
    }

    .mini-info-content p {
        font-family: Roboto;
        font-size: 20px;
        font-weight: 400;
        line-height: 30px;
        letter-spacing: 0em;
        text-align: left;
        width: 414px;
        top: 257px;
        left: 71px;
    }

    .mini-info-img {
        display: flex;
        justify-content: end;
    }

    .mini-info img {
        width: 304.07px;
        height: 356.18px;
        top: 138.99px;
        left: 515.46px;
    }

    .quote {
        background-color: #1E4681;
        color: white;
        width: 483.63px;
        top: 666.62px;
        left: 409.39px;
        border-radius: 5px;
        padding: 18px;
        margin: auto;
    }

    .quote p {
        font-family: Roboto Slab;
        font-size: 25px;
        font-weight: 400;
        line-height: 32px;
        letter-spacing: 0em;
        text-align: left;
    }

    .quote span {
        font-family: Roboto;
        font-size: 20px;
        font-weight: 400;
        line-height: 26px;
        letter-spacing: 0em;
        text-align: right;
        margin-top: 10px;
    }

    .about-course {
        display: flex;
        justify-content: space-between;
        margin-bottom: 70px;
    }

    .info {
        width: 662px;
        height: 374px;
        top: 1151px;
        left: 121px;

    }

    .info p {
        font-family: Roboto;
        font-size: 24px;
        font-weight: 400;
        line-height: 36px;
        letter-spacing: 0em;
        text-align: left;
        margin-bottom: 20px;
    }

    .cameraman1 {
        display: flex;
        justify-content: center;
        margin-bottom: 40px;
    }

    .cameraman1 img {
        width: 314px;
        height: 315px;
        top: 1175px;
        left: 973px;

    }

    .timing-course {
        display: flex;
        align-items: center;
        gap: 120px;
    }

    .timing-course img {
        display: block;
        width: 232px;
        height: 203px;
        top: 1619px;
        left: 121px;
    }

    .duration {
        display: flex;
        flex-wrap: wrap;
        gap: 70px;
    }

    .duration li h3 {
        font-family: Roboto;
        font-size: 25px;
        font-weight: 700;
        line-height: 32px;
        letter-spacing: 0em;
        text-align: left;
        margin-bottom: 12px;

    }

    .duration li p {
        font-family: Roboto;
        font-size: 18px;
        font-weight: 400;
        line-height: 23px;
        letter-spacing: 0em;
        text-align: left;
        margin-bottom: 16px;
        width: 150px;
    }

    .format {
        display: flex;
        flex-direction: row;
        gap: 70px;
    }

    .format li h5 {
        font-family: Roboto;
        font-size: 25px;
        font-weight: 700;
        line-height: 32px;
        letter-spacing: 0em;
        text-align: left;
        color: #1E4681;
        margin-bottom: 15px;
    }

    .format li p {
        font-family: Roboto;
        font-size: 18px;
        font-weight: 400;
        line-height: 23px;
        letter-spacing: 0em;
        text-align: left;
        width: 271px;
    }

    .what-learn {
        font-family: Roboto;
        font-size: 24px;
        font-weight: 400;
        line-height: 36px;
        letter-spacing: 0em;
        text-align: left;
        list-style-type: disc;
        padding: 20px;
    }

    .programms {
        display: grid;
        grid-template-columns: auto auto auto;
        flex-direction: row;
        /* gap: 30px; */
    }

    .programms li {
        width: 350px;
        top: 3434px;
        left: 84px;
        border-radius: 30px;
        box-shadow: 1px 1px 15px 0px #00000040;
        overflow: hidden;
        margin: auto;
    }

    .programms li img {
        width: 100%;
        height: 160px;
        top: 3434px;
        left: 84px;
    }

    .programms li h4 {
        font-family: Roboto;
        font-size: 30px;
        font-weight: 700;
        line-height: 39px;
        letter-spacing: 0em;
        text-align: left;
        margin-bottom: 15px;
    }

    .program-content {
        padding: 20px;
    }

    .programms li p {
        font-family: Roboto;
        font-size: 25px;
        font-weight: 400;
        line-height: 32px;
        letter-spacing: 0em;
        text-align: left;
        display: flex;
        flex-direction: column;
        gap: 3px;
    }

    .bg-grey {
        background-color: #EFEFEF;
        margin-bottom: 0;
        padding: 70px;
    }

    .quote2 {
        max-width: 800px;
        background-color: white;
        padding: 30px;
        border-radius: 20px;
        box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
    }

    .quote2 p {
        font-family: Roboto;
        font-size: 20px;
        font-weight: 400;
        line-height: 30px;
        letter-spacing: 0em;
        text-align: left;
    }

    .quote2 .user {
        display: flex;
        align-items: center;
    }

    .user p {
        font-family: Roboto Slab;
        font-size: 30px;
        font-weight: 700;
        line-height: 30px;
        letter-spacing: 0em;
        text-align: left;
        margin-bottom: 10px;
    }

    .ava {
        width: 190px;
        height: 169px;
        top: 5096px;
        left: 151px;
        margin-right: 10px;
    }

    .fb {
        width: 32px;
        height: 31px;
        top: 5195px;
        left: 371px;
    }

    .bg-mint {
        background-color: #9DC9C8;
        padding: 70px;
        margin-bottom: 0;
    }

    .price {
        font-family: Roboto;
        font-family: Roboto;
        font-size: 25px;
        font-weight: 400;
        line-height: 25px;
        letter-spacing: 0em;
        text-align: left;
        margin-bottom: 30px;
    }

    .price span {
        font-family: Roboto;
        font-size: 80px;
        font-weight: 400;
        line-height: 81px;
        letter-spacing: 0em;
        text-align: left;
        display: block;
    }

    .price-content {
        display: flex;
        gap: 120px;
    }

    .price-content div {
        width: 294px;
    }

    .price-content div h6 {
        font-family: Roboto;
        font-size: 25px;
        font-weight: 400;
        line-height: 25px;
        letter-spacing: 0em;
        text-align: left;
        margin-bottom: 16px;
    }

    .price-content div p {
        font-family: Roboto;
        font-size: 18px;
        font-weight: 400;
        line-height: 25px;
        letter-spacing: 0em;
        text-align: left;
    }

    /* ========== FOOTER ===========*/

    footer {
        background-color: black;
        color: white;
        padding: 80px 120px 50px;
    }

    .footer-div {
        display: flex;
        justify-content: space-between;
    }

    .logo-white {
        width: 115px;
        height: 68px;
        top: 6235px;
        left: 121px;
        margin-bottom: 25px;
    }

    .social-icons {
        display: flex;
        gap: 18px;
        margin-bottom: 30px;
    }

    .social-icons li img {
        width: 33px;
        height: 33px;
        top: 6333px;
        left: 121px;
    }

    .contact {
        margin-bottom: 40px;
    }

    .contact li {
        display: flex;
        align-items: center;
        gap: 20px;
        margin-bottom: 25px;
    }

    .contact li img {
        width: 27px;
        height: 27px;
        top: 6239px;
        left: 975px;
    }

    .contact li p {
        font-family: Roboto;
        font-size: 25px;
        font-weight: 400;
        line-height: 25px;
        letter-spacing: 0em;
        text-align: left;        
    }

    .sinx {
        font-family: Roboto;
        font-size: 18px;
        font-weight: 400;
        line-height: 18px;
        letter-spacing: 0em;
        text-align: left;        
    }
}